@CHARSET "UTF-8";

.footer p {
    margin: 0;
    font-size: .7em;
}

body {
    font-family: Sans-serif;
    padding: 0 40px 0 40px;
}

dt {
    padding-top: 10px;
}

.intro, dd {
    font-size: 0.9em;
}

#labels {
    font-size: 0.8em;
}

#save {
    padding-top: 20px;
}

.feedback {
    text-align: right;
}

#msg {
    background: #FFFFAA;
}

.ui-slider-handle:focus {
    outline: none;
}
