body {
    font-family: Sans-serif;
    font-size: small;
    width: 400px;
    padding: 0 40px 0 40px;
}

dt {
    padding-top: 10px;
}

.smaller {
    font-size: smaller;
}

.avatar {
    float: left;
}

.title {
    overflow: hidden;
}

.title h1 {
    margin-top: -4px;
    margin-bottom: 0;
    padding-left: 4px;
}

.title p {
    margin-top: 2px;
    padding-left: 5px;
}
